@import './mixins.scss';

.page {
    width: 960px;
    margin: 0 auto;

    @include breakpoint(md) {
        width: 768px;
    }

    @include breakpoint(sm) {
        width: 320px;
    }
}

.row {
    &:first-child {
        margin: 82px 0 202px 0;
        position: relative;

        @include breakpoint(sm) {
            margin: 40px 0 48px 0;
        }

        .content-wrapper {
            margin: 0 0 0 $col-lg-width * 7 + $col-offset * 7;
            position: relative;

            @include breakpoint(md) {
                margin: 0 ($col-md-width + $col-offset) 0 ($col-md-width * 5 + $col-offset * 5);
            }

            @include breakpoint(sm) {
                margin: 0 ($col-sm-width + $col-offset) 0 ($col-sm-width + $col-offset);
            }
        }
    }
    &:nth-child(2) {
        margin: 0 0 36px 0;

        @include breakpoint(sm) {
            margin: 0 0 33px 0;
        }

        .content-wrapper {
            width: 320px;
            display: inline-block;
            margin: 0 0 0 $col-lg-width + $col-offset;

            @include breakpoint(md) {
                width: auto;
                margin: 0 0 0 $col-md-width + $col-offset;
            }

            @include breakpoint(sm) {
                width: auto;
                margin: 0 0 0 $col-sm-width + $col-offset;
            }
        }   
    }
}