// Responsive mixins
@mixin breakpoint($class) {
    @if $class==sm {
        @media (min-width: 320px) and (max-width: 767px) {
            @content;
        }
    }
    @else if $class==md {
        @media (min-width: 768px) and (max-width: 959px) {
            @content;
        }
    }
    @else if $class==lg {
        @media (min-width: 960px) {
            @content;
        }
    }
    @else {
        @warn "Breakpoint mixin supports: xxs, xs, sm, md, lg, xl";
    }
}