@import "./mixins.scss";

// Variables

//** Colors
$default: #000;
$white: #fff;
$grey-lighter: #f0f0f0;
$grey-light: #ececec;
$grey-dark: #979797;
$green: #0bc0ce;
$green-light: #0bccda;

//** Typography
$primary-font: 'Playfair Display', serif;
$secondary-font: 'Lato', sans-serif;

$font-size-header: 48px;
$font-size-header-sm: 24px;
$font-size-copy: 14px;
$font-size-copy-sm: 12px;

$font-light: 300;
$font-normal: 400;
$font-bold: bold;

//** Dimensions
$col-lg-width: 70px;
$col-md-width: 54px;
$col-sm-width: 16.7px;
$col-offset: 10px;
