@import "./../variables.scss";
@import './../mixins.scss';

.form-wrapper {
    width: 507px;
    height: 263px;
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(28px) translateY(26px);
    float: right;
    background: $grey-light;

    @include breakpoint(md) {
        width: 422px;
        height: 238px;
        transform: translateX(36px) translateY(50px);
        background: $grey-lighter;
    }

    @include breakpoint(sm) {
        width: 270px;
        height: 207px;
        transform: translateX(5px);
        margin: 25px 0 0 ($col-sm-width * 2 + $col-offset * 2);
    }

    .thank-you-box {
        margin: 10px 0 0 ($col-lg-width + $col-offset);
        font-size: 38px;
        display: none;

        @include breakpoint(md) {
            margin: 10px 0 0 ($col-md-width + $col-offset);
        }

        @include breakpoint(sm) {
            font-size: 24px;
            margin: 10px 0 0 ($col-sm-width + $col-offset);
        }

        &.active {
            display: block;
        }
    }

    &__circle {
        position: absolute;
        transform: translateX(-28px) translateY(-45px);
        right: 0;
        top: 0;

        @include breakpoint(md) {
            transform: translateX(-28px) translateY(-60px);
        }

        @include breakpoint(sm) {
            display: none;
        }
    }

    .form {
        margin: 10px 0 0 ($col-lg-width + $col-offset);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 14px;
        font-family: $secondary-font;

        @include breakpoint(md) {
            margin: 10px 0 0 ($col-md-width + $col-offset);
        }

        @include breakpoint(sm) {
            margin: 10px 0 0 ($col-sm-width + $col-offset);
        }

        &.hidden {
            display: none;
        }

        &__input, &__submit {
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57!important;
            letter-spacing: 2.1px!important;
        }

        &__input {
            margin: 12px 0 0 0;
            padding: 0 0 0 10px;
            background: transparent;
            border: solid 1px $grey-dark;
            box-sizing: border-box;
            width: 230px;
            height: 33px;

            @include breakpoint(md) {
                margin: 13px 0 0 0;
                width: 183px;
            }

            @include breakpoint(sm) {
                width: 202px;
                margin: 13px ($col-sm-width + $col-offset) 0 0;
            }
        }

        &__submit {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 11px 0 0 0;
            width: 115px;
            height: 33px;
            color: $white;
            font-weight: $font-normal;
            background-color: $green;
            border: none;
            cursor: pointer;
            transition: .3s ease-in-out;

            @include breakpoint(md) {
                margin: 12px 0 0 0;
            }

            @include breakpoint(sm) {
                margin: 13px ($col-sm-width + $col-offset) 0 0;
            }

            &:hover {
                background-color: $green-light;
            }
        }

        .input-wrapper {
            position: relative;
        }

        img.error-validation {
            position: absolute;
            top: 17px;
            left: -30px;
            height: 24px;
            width: 24px;
            transition: .5s ease;
            opacity: 0;

            @include breakpoint(sm) {
                left: -23px;
                top: 20px;
                height: 21px;
                width: 21px;
            }

            &.active {
                opacity: 1;
            }
        }
    }
}