@import './../mixins.scss';

.site-header {
    margin: 29px 0 0 0;
    display: flex;
    justify-content: space-between;

    @include breakpoint(sm) {
        margin: 13px 0 0 0;
    }

    .logo-wrapper {
        box-sizing: border-box;
        padding: 8px;
        transition: .3s ease-in;

        @include breakpoint(sm) {
            padding: 0;
        }

        &:hover {
            opacity: .7;
        }

        &__logo {

            @include breakpoint(sm) {
                width: 142px;
                height: 63px;
            }
        }
    }

    .grey-line {
        width: 98px;
        height: 3px;
        border-top: solid 1px #979797;

        @include breakpoint(sm) {
            width: 44px;
        }
    }
}
