@import "./../variables.scss";
@import './../mixins.scss';

.big-circle {
    transform: translateX($col-lg-width + $col-offset) translateY(-132px);
    position: absolute;
    z-index: -1;

    @include breakpoint(md) {
        transform: translateX($col-md-width - $col-offset) translateY(-136px);
    }

    @include breakpoint(sm) {
        width: 170px;
        height: 170px;
        right: 0;
        transform: translateX(0px) translateY(-75px);
    }
}

.content-wrapper {
    font-style: normal;
    font-stretch: normal;

    &__header {
        font-family: $primary-font;
        font-size: $font-size-header;
        font-weight: bold;
        line-height: 1.04;
        letter-spacing: 5.1px;
        margin: 0 0 26px 0;

        @include breakpoint(sm) {
            font-size: $font-size-header-sm;
            letter-spacing: 2.6px;
            line-height: normal;
            margin: 0 0 13px 0;
        }

        &--bigger-margin {
            
            margin: 0 0 35px 0;

            @include breakpoint(sm) {
                margin: 0 0 17px 0;
            }
        }
    }

    &__text {
        font-family: $secondary-font;
        font-size: $font-size-copy;
        font-weight: $font-light;
        line-height: 1.57;
        letter-spacing: 2.1px;
        text-decoration: none;
        color: #000;

        @include breakpoint(sm) {
            font-size: $font-size-copy-sm;
            line-height: 1.33;
            letter-spacing: 1.8px;
        }

        p {
            margin: 0 0 4px 0;

            @include breakpoint(sm) {
                margin: 0 0 5px;
            }
        }
    }

    $wrapper : &;
    &__arrow {
        margin: 0 0 0 17px;
        transition: .6s ease;

        @include breakpoint(sm) {
            margin: 0 0 0 5px;
        }

        #{$wrapper}:hover & {
            transform: translateX(10px);
        }
    }

    &__circle {
        position: absolute;
        transform: translateX(-166px) translateY(10px);
        top: 0;
        left: 0;
        z-index: -1;

        @include breakpoint(md) {
            transform: translateY(-157px);
        }

        @include breakpoint(sm) {
            display: none;
        }
    }

    &__cloud {
        margin: 80px 0 0 0;

        @include breakpoint(md) {
            margin: 76px 0 0 0;
        }

        @include breakpoint(sm) {
            display: none;
        }
    }
}
