<section class="form-wrapper">
    <img src="images/oval-small.svg" alt="Obrazek niebieskie koło" class="form-wrapper__circle">
    <div class="thank-you-box">Dziękujemy za zamówienie.</div>
    <form action="#" method="post" class="form">
        <div class="input-wrapper">
            <input type="text" class="form__input client-name" name="name" placeholder="Imię i nazwisko" required aria-required="true">
            <img src="images/error.svg" alt="Niepoprawna walidacja" class="error-validation">
        </div>
        <div class="input-wrapper">
            <input type="text" class="form__input tickets-amount" name="tickets-amount" placeholder="Liczba biletów" required aria-required="true">
            <img src="images/error.svg" alt="Niepoprawna walidacja" class="error-validation">
        </div>
        <button type="submit" class="form__submit" name="submit">
            Zamów <img src="images/cards.svg" alt="Obrazek karty kredytowe">
        </button>
    </form>
</section>