<header class="site-header">		
	<div class="brand-wrapper">
		<a href="index.html" class="logo-wrapper fade-in">
			<img src="images/pplogo.png" alt="Panowie Programiści" class="logo-wrapper__logo">
		</a>
	</div>
	<div class="grey-line"></div>
</header>