<section class="row">
    <img src="images/oval-big.svg" class="big-circle" alt="Obrazek niebieskie koło">
    <section class="content-wrapper">
        <h1 class="content-wrapper__header">Zadanie rekrutacyjne</h1>
        <a href="#" class="content-wrapper__text">
            <p class="display-inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent augue dolor, varius et tortor elementum.</p>
            <img src="images/arrow.svg" class="content-wrapper__arrow" alt="Obrazek strzałka">
        </a>
        <img src="images/oval-medium.svg" class="content-wrapper__circle" alt="Obrazek niebieskie koło">
    </section>
</section>
<section id="tickets" class="row">
    <section class="content-wrapper">
        <h2 class="content-wrapper__header content-wrapper__header--bigger-margin">Zamów<br>bilety</h2>
        <div class="content-wrapper__text">
            <p>Cena biletu: <span class="ticket-price">20</span> zł</p>
            <p class="text-bold">Podsumowanie: <span class="price-summary">XX</span> zł</p>
        </div>
        <a href="#">
            <img src="images/cloud.svg" class="content-wrapper__cloud" alt="Obrazek chmurka">
        </a>
    </section>
    @@include('./../../components/form.html')
</section>